.footer {
  background: getColor(white);
  height: 92px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;

  color: getColor(txt-color);
  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 65px;
  }
  &__para {
    font-size: 12px;
    text-align: center;
  }
  &__para--first {
    margin-top: 25px;
    @media (min-width: $tablet-width) {
      margin: 0;
    }
  }
  &__para--second {
    margin-bottom: 25px;
    @media (min-width: $tablet-width) {
      margin: 0;
    }
  }
}
